<footer>
    <small class="contact">உங்களது அச்சசோ, git தருணம் என்ன? அதை என்னுடன் பகிர்ந்து கொள்ளுங்கள்!</small>
    <small class="twitter">{% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>