<p>Git கடினமானதாகும்: குழப்பமடைவதும் எளிதானதாகும், மேலும் உங்கள் தவறுகளை எவ்வாறு சரிசெய்வது என்பதைக் கண்டறிவது சாத்தியமற்றதாகவுமிருக்கிறது. Git ஆவணத்தினூடாக உங்கள் பிரச்சனையை தீர்ப்பதற்கு <em> பிரச்சனை கொடுக்கும் அந்த விடயதின் பெயர் ஏற்கனவே உங்களுக்கு தெரிந்திருக்க வேண்டும், தெரியாவிட்டால்</em> ஓர் சிக்கலில் இருந்து உங்களை எப்படி விடுவிப்பது என்று அங்கே தேட முடியாது மாறாக "முதல்ல கோழி வந்திச்சா இல்லாட்டி முட்டை வந்திச்சா" என்னும் பிரச்சனை தான் இருக்கும். </p>

<p>ஆகவே நான் அடைந்த சில மோசமான சூழ்நிலைகளும், அத்தோடு நான் எவ்வாறு அவைகளில் இருந்து என்னை தப்புவித்தேன் என்பவை இதோ <em>எளிய தமிழில்</em>.</p>
